{
  "openapi": "2.0",
  "host": "agency.rahat.io",
  "basePath": "/",
  "schemes": ["https"],
  "info": {
    "title": "Rahat Server",
    "version": "2.1.0",
    "description": "Server application for Rahat Systems"
  },
  "securityDefinitions": {
    "jwt": {
      "type": "apiKey",
      "name": "access_token",
      "in": "header"
    }
  },
  "security": [
    {
      "jwt": []
    }
  ],
  "tags": [
    {
      "name": "Auth"
    },
    {
      "name": "Agency"
    },
    {
      "name": "App"
    },
    {
      "name": "Beneficiaries"
    },
    {
      "name": "Institutions"
    },
    {
      "name": "Mobilizers"
    },
    {
      "name": "Projects"
    },
    {
      "name": "Roles"
    },
    {
      "name": "Transactions"
    },
    {
      "name": "Users"
    },
    {
      "name": "Vendors"
    }
  ],
  "paths": {
    "/api/v1/auth": {
      "get": {
        "summary": "Get the token data",
        "operationId": "getApiV1Auth",
        "tags": ["Auth"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "post": {
        "summary": "Login using username and password",
        "operationId": "postApiV1Auth",
        "tags": ["Auth"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/beneficiaries": {
      "get": {
        "summary": "List all beneficiarys.",
        "operationId": "getApiV1Beneficiaries",
        "tags": ["Beneficiaries"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "post": {
        "summary": "Add a beneficiary.",
        "operationId": "postApiV1Beneficiaries",

        "tags": ["Beneficiaries"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/institutions": {
      "get": {
        "summary": "List all the financial institutions",
        "operationId": "getApiV1Institutions",
        "tags": ["Institutions"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "post": {
        "summary": "Add a financial institutions",
        "operationId": "postApiV1Institutions",

        "tags": ["Institutions"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/mobilizers": {
      "get": {
        "summary": "List all Mobilizers.",
        "operationId": "getApiV1Mobilizers",

        "tags": ["Mobilizers"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "post": {
        "summary": "Add a MOBILIZER.",
        "operationId": "postApiV1Mobilizers",

        "tags": ["Mobilizers"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/projects": {
      "get": {
        "summary": "List all the agencies projects",
        "operationId": "getApiV1Projects",

        "tags": ["Projects"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "post": {
        "summary": "Add new project",
        "operationId": "postApiV1Projects",

        "consumes": ["multipart/form-data"],
        "tags": ["Projects"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/roles": {
      "get": {
        "summary": "Get all the roles",
        "operationId": "getApiV1Roles",
        "tags": ["Roles"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "put": {
        "summary": "Add a new role",
        "operationId": "putApiV1Roles",
        "tags": ["Roles"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/users": {
      "get": {
        "summary": "List all users",
        "operationId": "getApiV1Users",

        "tags": ["Users"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "post": {
        "summary": "Add a new user",
        "operationId": "postApiV1Users",

        "tags": ["Users"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/vendors": {
      "get": {
        "summary": "List all vendors.",
        "operationId": "getApiV1Vendors",

        "tags": ["Vendors"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "post": {
        "summary": "Add a vendor.",
        "operationId": "postApiV1Vendors",

        "tags": ["Vendors"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/agency/{id}": {
      "get": {
        "summary": "Get an agency by id.",
        "operationId": "getApiV1AgencyId",

        "tags": ["Agency"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "put": {
        "summary": "Update the agency information",
        "operationId": "putApiV1AgencyId",

        "tags": ["Agency"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/app/dashboards": {
      "get": {
        "summary": "Get the dashboard informations",
        "operationId": "getApiV1AppDashboards",
        "tags": ["App"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/app/settings": {
      "get": {
        "summary": "List all the application settings",
        "operationId": "getApiV1AppSettings",
        "tags": ["App"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/beneficiaries/{id}": {
      "get": {
        "summary": "Get an beneficiary by Phone , Wallet Adress or id.",
        "operationId": "getApiV1BeneficiariesId",

        "tags": ["Beneficiaries"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "delete": {
        "summary": "Remove and archive a beneficiary,",
        "operationId": "deleteApiV1BeneficiariesId",

        "tags": ["Beneficiaries"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "put": {
        "summary": "Update beneficiary details.",
        "operationId": "putApiV1BeneficiariesId",

        "tags": ["Beneficiaries"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/institutions/{id}": {
      "get": {
        "summary": "Get a financial institutions by Id",
        "operationId": "getApiV1InstitutionsId",

        "tags": ["Institutions"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "delete": {
        "summary": "Remove and archive a financial institutions",
        "operationId": "deleteApiV1InstitutionsId",

        "tags": ["Institutions"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "put": {
        "summary": "Update financial institutions details",
        "operationId": "putApiV1InstitutionsId",

        "tags": ["Institutions"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/mobilizers/{id}": {
      "get": {
        "summary": "Get an MOBILIZER by Wallet Adress or id.",
        "operationId": "getApiV1MobilizersId",

        "tags": ["Mobilizers"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "delete": {
        "summary": "Remove and archive a MOBILIZER,",
        "operationId": "deleteApiV1MobilizersId",

        "tags": ["Mobilizers"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "put": {
        "summary": "Update MOBILIZER details.",
        "operationId": "putApiV1MobilizersId",

        "tags": ["Mobilizers"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/projects/{id}": {
      "get": {
        "summary": "Get a project by Id",
        "operationId": "getApiV1ProjectsId",

        "tags": ["Projects"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "delete": {
        "summary": "Remove and archive a project",
        "operationId": "deleteApiV1ProjectsId",

        "tags": ["Projects"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "put": {
        "summary": "Update project details",
        "operationId": "putApiV1ProjectsId",

        "tags": ["Projects"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/roles/{id}": {
      "get": {
        "summary": "Get a role by id",
        "operationId": "getApiV1RolesId",

        "tags": ["Roles"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "delete": {
        "summary": "Delete a role by id",
        "operationId": "deleteApiV1RolesId",
        "tags": ["Roles"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/transactions/tosign": {
      "get": {
        "summary": "Get a new transaction to sign",
        "operationId": "getApiV1TransactionsTosign",
        "tags": ["Transactions"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/transactions/{to}": {
      "get": {
        "summary": "List all transactions.",
        "operationId": "getApiV1TransactionsTo",

        "tags": ["Transactions"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/users/login": {
      "get": {
        "summary": "Login using username and password",
        "operationId": "getApiV1UsersLogin",
        "tags": ["Users"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/users/{id}": {
      "get": {
        "summary": "Find a user by id",
        "operationId": "getApiV1UsersId",

        "tags": ["Users"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "post": {
        "summary": "Update user data",
        "operationId": "postApiV1UsersId",

        "tags": ["Users"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/vendors/{id}": {
      "get": {
        "summary": "Get an vendor by Wallet Adress or id.",
        "operationId": "getApiV1VendorsId",

        "tags": ["Vendors"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "delete": {
        "summary": "Remove and archive a Vendor,",
        "operationId": "deleteApiV1VendorsId",

        "tags": ["Vendors"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "put": {
        "summary": "Update vendor details.",
        "operationId": "putApiV1VendorsId",

        "tags": ["Vendors"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/app/contracts/{contractName}": {
      "get": {
        "summary": "Get a contracts artifacts",
        "operationId": "getApiV1AppContractsContractname",

        "tags": ["App"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/app/setup/contracts": {
      "get": {
        "summary": "setup a contracts and deploy to blockchain",
        "operationId": "getApiV1AppSetupContracts",
        "tags": ["App"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/app/setup/wallet": {
      "get": {
        "summary": "Setup a new server wallet",
        "operationId": "getApiV1AppSetupWallet",
        "tags": ["App"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/beneficiaries/{id}/token": {
      "get": {
        "summary": "List token distributions to beneficiary",
        "operationId": "getApiV1BeneficiariesIdToken",

        "tags": ["Beneficiaries"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "post": {
        "summary": "Distribute token to beneficiary",
        "operationId": "postApiV1BeneficiariesIdToken",

        "tags": ["Beneficiaries"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/mobilizers/{id}/transactions": {
      "get": {
        "summary": "Get the token transactions by current MOBILIZER",
        "operationId": "getApiV1MobilizersIdTransactions",

        "tags": ["Mobilizers"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/projects/{id}/vendors": {
      "get": {
        "summary": "List vendors registered to the project",
        "operationId": "getApiV1ProjectsIdVendors",
        "tags": ["Projects"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/projects/{id}/beneficiaries": {
      "get": {
        "summary": "List beneficiaries registered to the project",
        "operationId": "getApiV1ProjectsIdBeneficiaries",

        "tags": ["Projects"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "post": {
        "summary": "Add beneficiary to the project",
        "operationId": "postApiV1ProjectsIdBeneficiaries",

        "tags": ["Projects"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/roles/{name}/permissions": {
      "get": {
        "summary": "Get permissions list by role",
        "operationId": "getApiV1RolesNamePermissions",
        "tags": ["Roles"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/users/roles/{role}": {
      "get": {
        "summary": "List by role",
        "operationId": "getApiV1UsersRolesRole",
        "tags": ["Users"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/vendors/{id}/transactions": {
      "get": {
        "summary": "Get the token transactions by current vendor",
        "operationId": "getApiV1VendorsIdTransactions",

        "tags": ["Vendors"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/app/contracts/{contractName}/bytecode": {
      "get": {
        "summary": "Get a contracts bytecode",
        "operationId": "getApiV1AppContractsContractnameBytecode",

        "tags": ["App"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/transactions": {
      "post": {
        "summary": "Add a new transaction.",
        "operationId": "postApiV1Transactions",

        "tags": ["Transactions"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/app/setup": {
      "post": {
        "summary": "Setup a new server for the first time",
        "operationId": "postApiV1AppSetup",

        "tags": ["App"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/auth/wallet": {
      "post": {
        "summary": "Login using blockchain wallet",
        "operationId": "postApiV1AuthWallet",
        "tags": ["Auth"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/mobilizers/register": {
      "post": {
        "summary": "register a MOBILIZER.",
        "operationId": "postApiV1MobilizersRegister",

        "tags": ["Mobilizers"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/transactions/signed": {
      "post": {
        "summary": "sends signed Transaction",
        "operationId": "postApiV1TransactionsSigned",
        "tags": ["Transactions"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/users/check": {
      "post": {
        "summary": "Check If user Exists",
        "operationId": "postApiV1UsersCheck",

        "tags": ["Users"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/users/register": {
      "post": {
        "summary": "Register a new user",
        "operationId": "postApiV1UsersRegister",

        "tags": ["Users"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/vendors/register": {
      "post": {
        "summary": "register a vendor.",
        "operationId": "postApiV1VendorsRegister",

        "tags": ["Vendors"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/users/login/wallet": {
      "post": {
        "summary": "Login using blockchain wallet",
        "operationId": "postApiV1UsersLoginWallet",
        "tags": ["Users"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/roles/{id}/permissions": {
      "delete": {
        "summary": "Remove permissions from a role",
        "operationId": "deleteApiV1RolesIdPermissions",
        "tags": ["Roles"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "patch": {
        "summary": "Add permissions to a role",
        "operationId": "patchApiV1RolesIdPermissions",

        "tags": ["Roles"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/users/{id}/roles": {
      "delete": {
        "summary": "Remove roles from user",
        "operationId": "deleteApiV1UsersIdRoles",
        "tags": ["Users"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "patch": {
        "summary": "Add roles to a user",
        "operationId": "patchApiV1UsersIdRoles",

        "tags": ["Users"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/mobilizers/approve": {
      "patch": {
        "summary": "Approves MOBILIZER to interact with projects of this agency",
        "operationId": "patchApiV1MobilizersApprove",

        "tags": ["Mobilizers"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/vendors/approve": {
      "patch": {
        "summary": "Approves vendor to interact with projects of this agency",
        "operationId": "patchApiV1VendorsApprove",

        "tags": ["Vendors"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/agency/{id}/contracts": {
      "patch": {
        "summary": "Update contract addresses controlled by the agency",
        "operationId": "patchApiV1AgencyIdContracts",

        "tags": ["Agency"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/institutions/{id}/status": {
      "patch": {
        "summary": "Update financial institutions status",
        "operationId": "patchApiV1InstitutionsIdStatus",

        "tags": ["Institutions"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/mobilizers/{id}/status": {
      "patch": {
        "summary": "Change Vendors Status",
        "operationId": "patchApiV1MobilizersIdStatus",

        "tags": ["Mobilizers"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/projects/{id}/status": {
      "patch": {
        "summary": "Update project status",
        "operationId": "patchApiV1ProjectsIdStatus",

        "tags": ["Projects"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/projects/{id}/token": {
      "patch": {
        "summary": "Add token allocation to the project",
        "operationId": "patchApiV1ProjectsIdToken",

        "tags": ["Projects"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/users/{id}/status": {
      "patch": {
        "summary": "Make user active or inactive",
        "operationId": "patchApiV1UsersIdStatus",
        "tags": ["Users"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    },
    "/api/v1/vendors/{id}/status": {
      "patch": {
        "summary": "Change Vendors Status",
        "operationId": "patchApiV1VendorsIdStatus",

        "tags": ["Vendors"],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      }
    }
  }
}
